# Secrets — ne JAMAIS committer
.env
*.tfvars

# Environnement Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artefacts (PyInstaller)
build/
dist/
*.spec

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Divers
.pytest_cache/
trivy-report.txt
*.log
terraform.zip

# Clé privée TLS — jamais sur Git
ssl/server.key

# Éditeur / OS
.vscode/
.DS_Store
Thumbs.db